In [97]:
import pandas as pd
import numpy as np

In [98]:
ds=pd.read_csv(r"C:\Users\arunf\Downloads\weatherAUS.csv\weatherAUS.csv")

In [99]:
ds

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [100]:
data=pd.read_csv(r"C:\Users\arunf\Downloads\weatherAUS.csv\weatherAUS.csv",usecols=[1,2,3,4,5,6,21,22])

In [101]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,No,No
...,...,...,...,...,...,...,...,...
145455,Uluru,2.8,23.4,0.0,NaN,NaN,No,No
145456,Uluru,3.6,25.3,0.0,NaN,NaN,No,No
145457,Uluru,5.4,26.9,0.0,NaN,NaN,No,No
145458,Uluru,7.8,27.0,0.0,NaN,NaN,No,No
145459,Uluru,14.9,NaN,0.0,NaN,NaN,No,NaN

In [102]:
data.shape

(145460, 8)

In [103]:
from sklearn import preprocessing

In [104]:
le=preprocessing.LabelEncoder()

In [105]:
data['Location']=le.fit_transform(data['Location'])
data['RainToday']=le.fit_transform(data['RainToday'])
#data['RainTomorrow']=le.fit_transform(data['RainTomorrow'])

In [106]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,RainToday,RainTomorrow
0,2,13.4,22.9,0.6,NaN,NaN,0,No
1,2,7.4,25.1,0.0,NaN,NaN,0,No
2,2,12.9,25.7,0.0,NaN,NaN,0,No
3,2,9.2,28.0,0.0,NaN,NaN,0,No
4,2,17.5,32.3,1.0,NaN,NaN,0,No
...,...,...,...,...,...,...,...,...
145455,41,2.8,23.4,0.0,NaN,NaN,0,No
145456,41,3.6,25.3,0.0,NaN,NaN,0,No
145457,41,5.4,26.9,0.0,NaN,NaN,0,No
145458,41,7.8,27.0,0.0,NaN,NaN,0,No
145459,41,14.9,NaN,0.0,NaN,NaN,0,NaN

In [107]:
data.isnull().sum()

Location            0
MinTemp          1485
MaxTemp          1261
Rainfall         3261
Evaporation     62790
Sunshine        69835
RainToday           0
RainTomorrow     3267
dtype: int64

In [108]:
data['MinTemp']=data['MinTemp'].fillna(data['MinTemp'].mean())
data['MaxTemp']=data['MaxTemp'].fillna(data['MaxTemp'].mean())
data['Rainfall']=data['Rainfall'].fillna(data['Rainfall'].mean())
data['Evaporation']=data['Evaporation'].fillna(data['Evaporation'].mean())
data['Sunshine']=data['Sunshine'].fillna(data['Sunshine'].mean())
data['RainToday']=data['RainToday'].fillna(data['RainToday'].mean())
data['RainTomorrow']=data['RainTomorrow'].fillna('')

In [109]:
data.isnull().sum()

Location        0
MinTemp         0
MaxTemp         0
Rainfall        0
Evaporation     0
Sunshine        0
RainToday       0
RainTomorrow    0
dtype: int64

In [110]:
data

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,RainToday,RainTomorrow
0,2,13.4,22.900000,0.6,5.468232,7.611178,0,No
1,2,7.4,25.100000,0.0,5.468232,7.611178,0,No
2,2,12.9,25.700000,0.0,5.468232,7.611178,0,No
3,2,9.2,28.000000,0.0,5.468232,7.611178,0,No
4,2,17.5,32.300000,1.0,5.468232,7.611178,0,No
...,...,...,...,...,...,...,...,...
145455,41,2.8,23.400000,0.0,5.468232,7.611178,0,No
145456,41,3.6,25.300000,0.0,5.468232,7.611178,0,No
145457,41,5.4,26.900000,0.0,5.468232,7.611178,0,No
145458,41,7.8,27.000000,0.0,5.468232,7.611178,0,No
145459,41,14.9,23.221348,0.0,5.468232,7.611178,0,

In [111]:
x=data.drop(['RainTomorrow'],1)

C:\Users\arunf\AppData\Local\Temp\ipykernel_6332\3643596371.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x=data.drop(['RainTomorrow'],1)

In [112]:
x

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,RainToday
0,2,13.4,22.900000,0.6,5.468232,7.611178,0
1,2,7.4,25.100000,0.0,5.468232,7.611178,0
2,2,12.9,25.700000,0.0,5.468232,7.611178,0
3,2,9.2,28.000000,0.0,5.468232,7.611178,0
4,2,17.5,32.300000,1.0,5.468232,7.611178,0
...,...,...,...,...,...,...,...
145455,41,2.8,23.400000,0.0,5.468232,7.611178,0
145456,41,3.6,25.300000,0.0,5.468232,7.611178,0
145457,41,5.4,26.900000,0.0,5.468232,7.611178,0
145458,41,7.8,27.000000,0.0,5.468232,7.611178,0
145459,41,14.9,23.221348,0.0,5.468232,7.611178,0

In [113]:
y=data['RainTomorrow']

In [114]:
y

0         No
1         No
2         No
3         No
4         No
          ..
145455    No
145456    No
145457    No
145458    No
145459
Name: RainTomorrow, Length: 145460, dtype: object

In [115]:
from sklearn.model_selection import train_test_split

In [116]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [117]:
models=[]
scores=[]

**LOGISTIC REGRESSION**

In [118]:
from sklearn.linear_model import LogisticRegression as LR

In [119]:
lr=LR()

In [120]:
lr.fit(xtrain,ytrain)

C:\Users\arunf\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [121]:
lr_score=lr.score(xtest,ytest)
lr_score

0.7922452908015949

In [122]:
models.append("Linear Regression")
scores.append(lr_score)

**DECISION TREE**

In [123]:
from sklearn.tree import DecisionTreeClassifier as DTC

In [124]:
dtc=DTC()

In [125]:
dtc.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [126]:
dt_score=dtc.score(xtest,ytest)
dt_score

0.7186626334845777

In [127]:
models.append("Decision Tree")
scores.append(dt_score)

**RANDOM FOREST**

In [128]:
from sklearn.ensemble import RandomForestClassifier as RFC

In [129]:
rfc=RFC(n_estimators=100)

In [130]:
rfc.fit(xtrain,ytrain)

RandomForestClassifier()

In [131]:
rfc_score=rfc.score(xtest,ytest)
rfc_score

0.7930473440579312

In [132]:
models.append("Random Forest")
scores.append(rfc_score)

**K-NEAREST NEIGHBOR**

In [133]:
from sklearn.neighbors import KNeighborsClassifier as KNC

In [134]:
knn=KNC()

In [135]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier()

In [136]:
knn_score=knn.score(xtest,ytest)
knn_score

C:\Users\arunf\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.7784270589852881

In [137]:
models.append("KNN")
scores.append(knn_score)

**NAIVE BAYES**

In [138]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

In [139]:
gnb=GaussianNB()

In [140]:
gnb.fit(xtrain,ytrain)

GaussianNB()

In [141]:
gnb_score=gnb.score(xtest,ytest)
gnb_score

0.7861955176680875

In [142]:
models.append("NAIVE_BAYES_GAUSSIAN")
scores.append(gnb_score)

In [143]:
bnb=BernoulliNB()

In [144]:
bnb.fit(xtrain,ytrain)

BernoulliNB()

In [145]:
bnb_score=bnb.score(xtest,ytest)
bnb_score

0.7443512534946606

In [163]:
models.append("NAIVE_BAYES_BERNOULLI")
scores.append(bnb_score)

In [164]:
mnb=MultinomialNB() #not used bcoz of negative values in data

In [165]:
modelz=dict(zip(models,scores))

In [166]:
modelz

{'Linear Regression': 0.7922452908015949,
 'Decision Tree': 0.7186626334845777,
 'Random Forest': 0.7930473440579312,
 'KNN': 0.7784270589852881,
 'NAIVE_BAYES_GAUSSIAN': 0.7861955176680875,
 'NAIVE_BAYES_BERNOULLI': 0.7443512534946606}

In [167]:
Keymax = max(zip(modelz.values(), modelz.keys()))
print("max acc :" ,Keymax)

max acc : (0.7930473440579312, 'Random Forest')